<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

    <body>
    
        <%- include ('partials/header')%>
    
    <main>
        <article class="shopping-cart">
            <div class="carrito">
              <h3>Carrito</h3>
            </div>
  
            <div class="card-carrito">
              <% products.forEach(product => { %> 
                <% if (product) { %>
                <img
                src="/img/products/<%= product.f_image %>"
                alt="<%= product.description %>"
                class="img-perrocomida"
                />
                <div>
  
                <h2 class="perro-articulo">
                  <%= product.name %>
                </h2>
                </div>
  
                <div class="cantidad">
                <form action="/cantidad"method="GET">
                    <label>cantidad</label>
                    <select name="cantidad" >
                        <option  value="1" min="1" max="10" >1</option>
                        <option  value="2" min="1" max="10" >2</option>
                        <option  value="3" min="1" max="10" >3</option>
                        <option  value="4" min="1" max="10" >4</option>
                        <option  value="5" min="1" max="10" >5</option>
                        <option  value="6" min="1" max="10" >6</option>
                    </select>
                </form>
                </div>
  
                <div class="precio">
                  <h3>U$S <%= product.price %></h3>
                </div>
                </div>
             <% } %>
            <% }) %>
            <div class="contenedor-costo-desc-total">
  
            <div class="costo-desc-total">
              <h3>Costo del envío</h3>
              <h3>Descuentos</h3>
              <h3>Total a Pagar</h3>
            </div>
  
          </div>
           <div class="contenedor-button-div-cart">
            <div class="button-div-cart">
              <button>comprar</button>
              <button>Seguir comprando</button>
            </div>
          </div>
          
  
          </article>




    </main>

    <%- include ('partials/footer')%>
    
      </body>
    

    </html>