<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head')%>

<body>

    <%- include ('partials/header')%>

    <main>

        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="personal-information">
          <div class="title-information"><h3>Crear producto</h3></div>
                 
          
     
         
            <div class="main-link">
             <input type="text" name="name" value="<%= product.name %>">
            </div>
            <div class="main-link">
                <input type="text" name="descriptionSlogan" value="<%= product.descriptionSlogan%>">
            </div>

            <div class="main-link">
                <input type="text" name="description" value="<%= product.description %>">
            </div>


            <div class="main-link">
                <img class="image-edit" src="/img/products/<%= product.image1 %>" alt="" >
                <input type="file" name="image1">
            </div>

            <div class="main-link">
                <img class="image-edit" src="/img/products/<%= product.image2 %>" alt="" >
                <input type="file" name="image2">
            </div>
            <div class="main-link">
                
                <img class="image-edit" src="/img/products/<%= product.image3 %>" alt="" >
                <input type="file" name="image3">
            </div>
            <div class="main-link">
                
                <img class="image-edit" src="/img/products/<%= product.image4 %>" alt="" >
                <input type="file" name="image4">
            </div>          
     
     
            <div class="main-link">
                <input type="text" name="category" value="<%= product.category %>">
            </div>

            <div class="main-link">
                <input type="text" name="price" value="<%= product.price %>">
            </div>
     
     
            <div class="container">
        
                  <button type="submit" class="boton-crear">  modificar </button>
            </div>


     
        </div>
           
    
                
    </form>

        
      </main>


        <%- include ('partials/footer')%>

</body>
</html>