<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head')%>

<body>

    <%- include ('partials/header')%>
    
    <article class="card-servicios">
        <a href="/users/profile/<%= user.id %> ">
            <img class="servicios-imagenes" src="/img/users/<%= user.avatar %>">
            <div class="caracteristicas">
                <i class="fa-solid fa-paw"></i>
                <h3 class="descripciones"><%= user.name %></h3>
            </div>
        </a>
    </article>

    <div class ='info-personal-profile'>
        
         <h2>Informacion Personal</h2>
        <h4><%= user.name %></h4>
        <h4><%= user.surname %></h4>
        <h4><%= user.birth %></h4>
        <h4><%= user.email %></h4>
        <h4><%= user.adress %></h4>
        
    </div>


        <%- include ('partials/footer')%>

</body>
</html>