<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

    <body>
    
        <%- include ('partials/header')%>

 <main>


        <form action="/users/register" method="POST" class="register" enctype="multipart/form-data" >
        <div class="personal-information">
          <div class="title-information"><h3>Información Personal</h3></div>
                 
          
     
         
            <div class="main-link">
             <input type="text" 
             name="name" 
             placeholder="Nombre"
             value="<%= locals.oldData ? oldData.name : null %>">
             <div class="errors">
               <% if (locals.errors && errors.name) { %>
                <%= errors.name.msg %> 
  
                <% } %>

             </div>
            </div>
            
            
            <div class="main-link">
             <input type="text" 
             name="surname" 
             placeholder="Apellido" 
             value="<%= locals.oldData ? oldData.surname : null %>">
             <div class="errors">
              <% if (locals.errors && errors.surname) { %>
               <%= errors.surname.msg %> 
 
               <% } %>

            </div>
           </div>
     
           <div class="main-link">
               <input type="file" name="image" placeholder="imagen">
           </div>   
           
           <div class="main-link">
            <label for="month">Fecha de Nacimiento:</label>
            <input type="date" name="birth-date">         
           </div>
     
     
            <div class="main-link">
             <input type="text" 
             name="domicilio" 
             placeholder="Domicilio"
             value="<%= locals.oldData ? oldData.domicilio : null %>">
             <div class="errors">
              <% if (locals.errors && errors.domicilio) { %>
               <%= errors.domicilio.msg %> 
 
               <% } %>

            </div>
            </div>
     
        </div>
           
     
        <div class="login-information">
            <div class="title-information"> <h3>Información de Inicio de sesión</h3></div>
     
     
            <div class="main-link">
              <input type="email" 
              name="email" 
              placeholder="Email"
              value="<%= locals.oldData ? oldData.email : null %>">
              <div class="errors">
                <% if (locals.errors && errors.email) { %>
                 <%= errors.email.msg %> 
   
                 <% } %>
 
              </div>
            </div>
     
     
            <div class="main-link">
              <input type="text" name="user"  minlength="5" placeholder="Nombre de Usuario" >
            </div>

     
     
            <div class="main-link">
              <input type="password" name="pass"  placeholder="Contraseña">
            </div>
     
     
            <div class="main-link">
               <input type="password" name="pass"   placeholder="Confirmar contraseña">
            </div>

        </div>
                
        <div class="container">
          <div class="subscription">
            <input type="checkbox" name="subscription" value="1">
            <label for="subscription">Suscribirse a nuevas ofertas </label>
          </div>
            <button type="submit" class="send-buttom">  Registrarse </button>
      </div>

    </form>



    
    
</main>

      </body>


        <%- include ('partials/footer')%>

</html>