<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head')%>

<body>

    <%- include ('partials/header')%>

    <form action="/users/edit/<%= user.name %>?_method=PUT" method="POST" enctype="multipart/form-data">
     
           
        <div class = "logo-register">
          <a href="/"><img class="logo-register" src="/img/BeethovenSpaLogo.png"></a>
      </div>
         
        <div class="login-information">
            <div class="title-information"> <h3>Registrate</h3></div>
            <div class="text-validation"> <p>Validá tus datos para que nadie pueda ingresar o crear una cuenta a tu nombre.</p></div>
    
    
    
           <div class="main-link-register">
             <input type="text" 
             name="name" 
             placeholder="Nombre"
             value="<%= user.name %>">
             <div class="errors">
               <% if (locals.errors && errors.name) { %>
                <%= errors.name.msg %> 
    
                <% } %>
    
             </div>
            </div>
            
            
            <div class="main-link-register">
             <input type="text" 
             name="surname" 
             placeholder="Apellido" 
             value="<%= user.surname %>">
             <div class="errors">
              <% if (locals.errors && errors.surname) { %>
               <%= errors.surname.msg %> 
    
               <% } %>
    
            </div>
           </div>
     
           <div class="main-link-register">
            <input type="file" name="avatar" placeholder="Sube una foto para tu perfil">
        </div>
           
           <div class="main-link-register">
            <label for="month">Fecha de Nacimiento:</label>
            <input type="date" name="birth_date" <%= user.birth_date %>>         
           </div>
     
     
            <div class="main-link-register">
             <input type="text" 
             name="adress" 
             placeholder="Domicilio"
             value="<%= user.adress %>">
             <div class="errors">
              <% if (locals.errors && errors.domicilio) { %>
               <%= errors.domicilio.msg %> 
    
               <% } %>
    
             </div>
            </div>
     
     
            <div class="main-link-register">
              <input type="text" 
              name="email" 
              placeholder="Email"
              value="<%= user.email %>">
              <div class="errors">
                <% if (locals.errors && errors.email) { %>
                 <%= errors.email.msg %> 
    
                 <% } %>
    
              </div>
            </div>
     
    
     
            <div class="main-link-register">
              <input type="password" name="pass"  placeholder="Contraseña">
              <div class="errors">
                <% if (locals.errors && errors.pass) { %>
                 <%= errors.pass.msg %> 
    
                 <% } %>
    
              </div>
            </div>
     
     
            <div class="main-link-register">
               <input type="password" name="pass2"   placeholder="Confirmar contraseña">
               <div class="errors">
                <% if (locals.errors && errors.pass2) { %>
                 <%= errors.pass2.msg %> 
    
                 <% } %>
            </div>
    
    
    
        </div>
                
        <div class="container">
          <div class="subscription">
            <input type="checkbox" name="subscription" value="1">
            <label for="subscription">Suscribirse a nuevas ofertas </label>
          </div>
            <button type="submit" class="send-buttom-register">  Registrarse </button>
      </div>
    </div>
    </form>



        <%- include ('partials/footer')%>

</body>
</html>